{%extends "employeeregister/base.html"%}

{% block content %}
    <table class="table table-borderless">
        <thead class="border-buttom font-weight-bold">
            <tr>
                <td>Full Name</td>
                <td>Position</td>
                <td>Mobile</td>
                <td><a href="{%url 'employeeform'%}" class="btn btn-outline-success"> <i class=""></i> Add New</a></td>
            </tr>
        </thead>
        <tbody>
            {% for list in listofemployee %}
            <tr>
                <td> {{list.fullname}}</td>
                <td> {{list.position}}</td>
                <td> {{list.mobile}}</td>
                <td>
                    <a href="{% url 'employeeupdate' list.id%}" class="btn text-secondary px-0">
                        <i class="fas fa-edit"></i>
                    </a>
                    <form action="{%url 'employeedelete' list.id%}" method="post" class="d-inline">
                        {%csrf_token%}
                        <button type="submit" class="btn" >
                        <i class="far fa-trash fa-lg text-danger float-right "></i>
                    </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  
{% endblock content %}